# Main components
plotly==5.14.1
dash==2.9.3
dash_bootstrap_components==1.4.1

# Data handling
pandas==1.5.3
scipy==1.10.1
matplotlib==3.7.1
numpy==1.24.3
openpyxl==3.1.2

# Jupyter Notebook support
jupyter-dash==0.4.2
chart-studio==1.1.0
nbformat==5.8.0

# Geodaten
shapely==2.0.1
geopandas==0.12.2

# Caching
#flask-caching==2.0.2
#redis==4.5.5